.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.15s;
}

.card .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0px 3px rgba(255, 255, 255, 0.3);
  backface-visibility: hidden;
}

.card .card-content.front-side {
  position: absolute;
  transition: transform 0.25s;
}
.card .card-content.front-side img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  opacity: 0.9;
}

.card .card-content.back-side {
  transform: rotateY(-180deg);
  transition: transform 0.25s;

}

.card.flip .card-content.front-side {
  transform: rotateY(-180deg);
}

.card.flip .card-content.back-side {
  transform: rotateY(0);
}

.card.flip {
  pointer-events: none;
}

.card.shake {
  animation: shake 0.5s linear
}

.card:hover {
  animation: rotate 0.3s linear infinite
}

@keyframes rotate {
  20% {
    transform: rotateZ(-1.5deg)
  }
  40% {
    transform: rotateZ(-3deg)
  }
  60% {
    transform: rotateZ(1.5deg)
  }
  80% {
    transform: rotateZ(3deg)
  }
}


@keyframes shake {
  0%, 100% {
    transform:translateX(0);
  }
  20% {
    transform:translateX(-10px);
  }
  40% {
    transform:translateX(10px);
  }
  60% {
    transform:translateX(-5px);
  }
  80% {
    transform:translateX(5px);
  }
}

@media(min-width: 800px) {
  .card .card-content {
    width: 120px;
    height: 120px;
  }
}