@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 20px;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(20, 20, 20), black);
}

* {
  user-select: none;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 166, 221);
}

img {
  width: 70px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px 7px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.15s;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transform: translateY(-15px);
  display: flex;
  align-items: center;
}

button:hover {
  transform: translateY(-15px) scale(1.05) 
}
button:active {
  transform: translateY(-15px) scale(1)
}

@media(min-width: 800px) {
  img {
    width: 80px;
  }
}